:root {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #121E34;
  background-color: #D3D3D3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

#top-bg {
  position: absolute;
  display: block;
  margin: -2rem -2rem;
  width: 100%;
  height: 100%;

}

#header-container {
  display: flex;
  align-items: top;
  justify-content:center;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 11.8rem;
  /* background-color: #262626; */
  margin: -2rem -2rem;

  background-image: url(/header-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

#logo {
  padding: 3rem;
  margin-top: 0rem;
  margin-right: 3rem;
}
#logo img {
  margin-bottom: -4rem;
}
#logo h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Outfit, Montserrat, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 126px;

  color: #FFFFFF;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFBF00;
}

#illustration {
  /* position: absolute;
  top: 69px;
  right: 70px; */
  padding: 3rem;
  margin-top: 1rem;
  margin-left: 3rem;
}
#illustration img {
  width: 480px;
  height: 699px;
}

#about {
  display: block;
  padding: 3rem;
  width: 500px;
}

#claim-container {
  padding: 3rem 3rem;
  width: 500px;
  text-align: center;
  margin-top: -6rem;
}
#claim-container img {
  width: auto;
  margin-top: -4rem;
  margin-bottom: -4rem;
}
#claim-button {
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;

  width: 265px;
  height: 44px;
  color: black;
  background: #FFBF00;
  box-shadow: -4px -4px 4px rgba(58, 68, 93, 0.5), 4px 4px 4px #060C18;
  border-radius: 8px; 
}

#mid-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#eligibility-section {
  display: flex;
  align-items: top;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.section {
  display: block;
  padding: 1rem 3rem;
  width: 340px;
  flex-basis: 30%;
}
.section:last-of-type {
  display: block;
  padding: 1rem 3rem;
  width: 340px;
  flex-basis: 30%;
  margin-bottom: 3rem;
}

#node-digest {
  display: flex;
  align-items: top;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: -2rem -2rem;
  margin-top: -5rem;
  height: 1300px;

  background-image: url(/calculator-background.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}
#node-digest h1 {
  display: inline-block;
  margin-top: 17rem;
  text-align:center;
  color: #FEFFFF;
  font-weight: 800;
  font-size: 2.75rem;
}
#node-digest h2 {
  display: inline-block;
  margin: auto;
  color: #FEFFFF;
  line-height: 3rem;
}
#node-digest img {
  display: inline-block;
  padding: 3rem;
}

#where-to-stake {
  position: absolute;
  width: 1153px;
  height: 374px;
  left: 160px;
  top: 3278px;

  background-image: url(/where-to-stake.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#follow {
  position: relative;
  float: right;
  height: 500px;
  width: 500px;
  margin: 10rem -2rem 0rem 0rem;
  margin-top: 300px;

  background-image: url(/follow.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right;
}

#sticker {
  position: relative;
  
  height: 477px;
  width: 399px;
  margin: 0rem -2rem 0rem 0rem;
  margin-left: 74%;
  margin-top: 600px;

  background-image: url(/sticker.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
}

#footer {
  position: relative;
  height: 400px;
  padding-top: 5rem;
  margin: -2rem -2rem;
  margin-top: -226px;
  background-image: url(/footer.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

body {
  overflow: hidden scroll;
}