:root {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #121E34;
  background-color: #D3D3D3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root::-webkit-scrollbar { width: 0 !important }

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

#top-bg {
  position: absolute;
  display: block;
  margin: -2rem -2rem;
  width: 100%;
  height: 100%;

}

#header-container {
  display: flex;
  align-items: top;
  justify-content:center;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 11.8rem;
  /* background-color: #262626; */
  margin: -2rem -2rem;
  
  background-image: url(/header-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

#logo {
  padding: 3rem;
  margin-top: 0rem;
  margin-right: 3rem;
}
#logo img {
  margin-bottom: -4rem;
}
#logo h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Outfit, Montserrat, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 126px;

  color: #FFFFFF;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFBF00;
}

#illustration {
  /* position: absolute;
  top: 69px;
  right: 70px; */
  padding: 3rem;
  margin-top: 1rem;
  margin-left: 3rem;
}
#illustration img {
  width: 480px;
  height: 699px;
}

#about {
  display: block;
  padding: 3rem;
  width: 500px;
}

#claim-container {
  padding: 3rem 3rem;
  width: 500px;
  text-align: center;
  margin-top: -6rem;
}
#claim-container img {
  width: auto;
  margin-top: -4rem;
  margin-bottom: -4rem;
}
#start-button {
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;

  width: 265px;
  height: 44px;
  color: black;
  background: #FFBF00;
  box-shadow: -4px -4px 4px rgba(58, 68, 93, 0.5), 4px 4px 4px #060c18;
  border-radius: 8px; 
  cursor: pointer;
}

 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: none; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  color: rgba(255, 255, 255, 0.54);

  background-color: #121E34;
  background-image: url(/beautiful-waves.svg);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: left;

  margin: 2% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 518px;

  box-shadow: -8px -8px 8px rgba(58, 68, 93, 0.5), 8px 8px 8px #060C18;
  border-radius: 8px;
}

.modal-content-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-top: -0rem;
  transform: translateY(-3rem);
  z-index: auto;
}

.status-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: -0rem;
}

#status-bubble-1 {
  align-items: center;
  color: rgba(255, 255, 255, 0.54);
  margin: 5px;
  line-height: 45px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #FFBF00;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #121E34;
  background-color: rgba(255, 255, 255, 0.54);
}
#status-bubble-2 {
  align-items: center;
  color: rgba(255, 255, 255, 0.54);
  margin: 5px;
  line-height: 45px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #121E34;
  background-color: rgba(255, 255, 255, 0.54);
}
#status-bubble-3 {
  align-items: center;
  color: rgba(255, 255, 255, 0.54);
  margin: 5px;
  line-height: 45px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #121E34;
  background-color: rgba(255, 255, 255, 0.54);
}
#status-bubble-4 {
  align-items: center;
  color: rgba(255, 255, 255, 0.54);
  margin: 5px;
  line-height: 45px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #121E34;
  background-color: rgba(255, 255, 255, 0.54);
}

.status-bubble-label {
  position: relative;
  left: 50%;
  transform: translateX(-50%) translateY(12px);
  color: rgba(255, 255, 255, 0.54);
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
  width: 100px;
}

#status-line-3 img {
  width: 75px;
  height: 50px;
  translate: 0 10px;
}
#status-line-4 img {
  width: 75px;
  height: 50px;
  translate: 0 -10px;
}
#status-line-5 img {
  width: 75px;
  height: 50px;
  translate: 0 10px;
}

#connect-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 250px;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
#connect-container h1 {
  position: relative;
  top: -46%;
  font-size: 1.8rem;
  color: #F0F1F5;
  margin-bottom: 0rem;
  text-align: center;
}
#connect-container img {
  position: relative;
  top: -45%;
  height: 4.5rem;
  cursor: pointer;
  margin-top: 2rem;
  background-image: url(/keplr-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#connect-wallet {
  height: 4.5rem;
  cursor: pointer;
  margin-top: 2rem;
  background-image: url(/next-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: none;
}

#step3-container {
  display: none;
  grid-template-columns: 50% 50%;
  align-self: center;
  height: 200px;
  width: 485px;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
#address-field {
  grid-column: 1 / span 2;
  align-self: center;
  justify-self: center;
}
#airdrop-amount {
  grid-row: 2;
  grid-column: 1;
  align-self: center;
  justify-self: left;
}
#claim-button {
  grid-row: 2;
  grid-column: 2;
  align-self: center;
  justify-self: right;
  margin-right: -5px;
}

/* The Close Button */
.close {
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.54);
  float: right;
  margin: 1% 1%;
  font-size: 3.25rem;
  font-weight: 800;
  z-index: 1;
}
.close:hover,
.close:focus {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  cursor: pointer;
} 

/* The Help Button */
.help {
  color: rgba(255, 255, 255, 0.54);
  float: right;
  margin: 1% 1%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: #121E34;
  background-color: rgba(255, 255, 255, 0.54);
  z-index: 1;
}
.help:hover,
.help:focus {
  background-color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  cursor: pointer;
} 

.notice {
  /* position: relative;
  bottom: 1%;
  left: 10% ; */
  color: rgba(255, 255, 255, 0.54);
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
}

#mid-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#eligibility-section {
  display: flex;
  align-items: top;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.section {
  display: block;
  padding: 1rem 3rem;
  width: 340px;
  flex-basis: 30%;
}
.section:last-of-type {
  display: block;
  padding: 1rem 3rem;
  width: 340px;
  flex-basis: 30%;
  margin-bottom: 3rem;
}

#node-digest {
  display: flex;
  align-items: top;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: -2rem -2rem;
  margin-top: -5rem;
  height: 1300px;

  background-image: url(/calculator-background.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}
#node-digest h1 {
  display: inline-block;
  margin-top: 17rem;
  text-align:center;
  color: #FEFFFF;
  font-weight: 800;
  font-size: 2.75rem;
}
#node-digest h2 {
  display: inline-block;
  margin: auto;
  color: #FEFFFF;
  line-height: 3rem;
}
#node-digest img {
  display: inline-block;
  padding: 3rem;
}

#where-to-stake {
  position: absolute;
  width: 1153px;
  height: 374px;
  left: 160px;
  top: 3278px;

  background-image: url(/where-to-stake.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#follow {
  position: relative;
  float: right;
  height: 500px;
  width: 500px;
  margin: 10rem -2rem 0rem 0rem;
  margin-top: 300px;

  background-image: url(/follow.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right;
}

#sticker {
  position: relative;
  
  height: 477px;
  width: 399px;
  margin: 0rem -2rem 0rem 0rem;
  margin-left: 76%;
  margin-top: 600px;

  background-image: url(/sticker.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right;
}

#footer {
  position: relative;
  height: 400px;
  padding-top: 5rem;
  margin: -2rem -2rem;
  margin-top: -226px;
  background-image: url(/footer.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

body {
  overflow: hidden scroll;
}

.pulse {
  border-radius: 8px;
  background: #121E34;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(58, 68, 93, 0.5);
  animation: pulse 2s infinite;
}

.pulse:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: -4px -4px 4px rgba(58, 68, 93, 0.5), 4px 4px 4px rgb(6, 12, 24);
  }
  70% {
    -webkit-box-shadow: -4px -4px 2px rgba(58, 68, 93, 0.3), 4px 4px 2px rgb(6, 12, 24, 0.7);
  }
  100% {
    -webkit-box-shadow: -4px -4px 4px rgba(58, 68, 93, 0.5), 4px 4px 4px rgb(6, 12, 24);
  }
}

.animated:hover {
  opacity: 1;
  transition: opacity 500ms ease 0s, transform 400ms ease 0s;
  transform: translateX(-4px) translateY(-4px);
}