:root {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;

  color-scheme: light dark;
  color: #121E34;
  background-color: #D3D3D3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root::-webkit-scrollbar { width: 0 !important }

#header-container {
  display: flex;
  justify-content: center;
  column-gap: 200px;

  height: 970px;
  margin-top: -2px;
  
  background-image: url(/header-background.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
#logo-container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin-top: 40px;
  margin-left: 70px;
}
#logo-container #logo-image img{
  width: 576px;
  height: 465px;
  margin-bottom: -10px;
}
#logo-container #logo-text img{
  width: 588px;
  margin-top: 20px;
}
#logo h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Outfit, Montserrat, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 126px;

  color: #FFFFFF;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFBF00;
}

#illustration {
  padding: 3rem;
  margin-top: 40px;
  margin-right: 70px;
}
#illustration img {
  width: 480px;
  height: 699px;
}

#about {
  display: block;
  padding: 3rem;
  width: 500px;
}
#about h1 {
  color: #121E34;
}
#about p {
  color: #20365E;
  line-height: 30px;
}

#claim-container {
  padding: 3rem 3rem;
  width: 500px;
  text-align: center;
  margin-top: 0px;
}
#claim-container h1 {
  color: #262626;
  font-weight: 800;
  font-size: 46px;
  line-height: 56px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#claim-container img {
  width: 311px;
  margin-top: -50px;
  margin-bottom: -20px;
}
#start-button {
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;

  width: 265px;
  height: 44px;
  color: black;
  background: #FFBF00;
  box-shadow: -4px -4px 4px rgba(58, 68, 93, 0.5), 4px 4px 4px #060c18;
  border-radius: 8px; 
  cursor: pointer;
}

 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: none; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-transition: visibility ease 2s;
  transition: visibility ease 2s;
}

/* Modal Content/Box */
#modal-content {
  color: rgba(255, 255, 255, 0.54);

  background-color: #121E34;
  background-image: url(/beautiful-waves.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  transition: background-image ease 1s;

  margin: 2% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 1120px; /* Could be more or less, depending on screen size */
  height: 494px;

  box-shadow: -8px -8px 8px rgba(58, 68, 93, 0.5), 8px 8px 8px #060C18;
  border-radius: 8px;
  }

.modal-content-container {
  display: grid;
  grid-template-rows: 100px auto 50px;
  width: 100%;
  height: 100%;
  margin-top: -0rem;
  transform: translateY(-50px);
  z-index: 1;
}

.status-container {
  grid-row: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-self: center;
}

#status-bubble-1 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  align-items: center;
  color: rgba(255, 255, 255, 0.54);
  margin: 5px;
  line-height: 42px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #FFBF00;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #121E34;
  background-color: rgba(255, 255, 255, 0.54);

  transition: border ease 200ms;
  transition: background-color ease 200ms;
}
#status-bubble-2 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  align-items: center;
  color: rgba(255, 255, 255, 0.54);
  margin: 5px;
  line-height: 42px;
  width: 45px;
  height: 45px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #121E34;
  background-color: rgba(255, 255, 255, 0.54);

  transition: border ease 100ms;
  transition: background-color ease 100ms;
}
#status-bubble-3 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  align-items: center;
  color: rgba(255, 255, 255, 0.54);
  margin: 5px;
  line-height: 42px;
  width: 45px;
  height: 45px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #121E34;
  background-color: rgba(255, 255, 255, 0.54);

  transition: border ease 100ms;
  transition: background-color ease 100ms;
}
#status-bubble-4 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  align-items: center;
  color: rgba(255, 255, 255, 0.54);
  margin: 5px;
  line-height: 42px;
  width: 45px;
  height: 45px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #121E34;
  background-color: rgba(255, 255, 255, 0.54);

  transition: border ease 100ms;
  transition: background-color ease 100ms;
}
#status-bubble-1-label {
  position: relative;
  left: 50%;
  transform: translateX(-50%) translateY(12px);
  color: rgba(255, 255, 255, 0.54);
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
  width: 100px;
  transition: color ease 200ms;
}
#status-bubble-2-label {
  position: relative;
  left: 50%;
  transform: translateX(-50%) translateY(12px);
  color: rgba(255, 255, 255, 0.54);
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
  width: 100px;
  transition: color ease 200ms;
}
#status-bubble-3-label {
  position: relative;
  left: 50%;
  transform: translateX(-50%) translateY(12px);
  color: rgba(255, 255, 255, 0.54);
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
  width: 100px;
  transition: color ease 200ms;
}
#status-bubble-4-label {
  position: relative;
  left: 50%;
  transform: translateX(-50%) translateY(12px);
  color: rgba(255, 255, 255, 0.54);
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
  width: 100px;
  transition: color ease 200ms;
}

#status-line-3 img {
  width: 75px;
  height: 50px;
  translate: 0 10px;
  transition: background-image ease 200ms;
}
#status-line-4 img {
  width: 75px;
  height: 50px;
  translate: 0 -10px;
  transition: background-image ease 200ms;
}
#status-line-5 img {
  width: 75px;
  height: 50px;
  translate: 0 15px;
  transition: background-image ease 200ms;
}

#connect-container {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-self: start;
  justify-self: center;
  align-items: center;
  width: auto;
  /* margin-top: 3rem; */
  margin-bottom: 0rem;
}
#connect-container h1 {
  font-size: 1.8rem;
  color: #F0F1F5;
  margin-bottom: 0rem;
  text-align: center;
}
#connect-container img {
  height: 4.5rem;
  cursor: pointer;
  margin-top: 2rem;
  width: 210px;
  justify-self: center;
  background-image: url(/keplr-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: background-image ease-in-out 300ms;
}
#connect-fina-message {
  display: none;
}
#connect-fina {
  display: none;
}
#connect-mm-container {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-self: start;
  justify-self: center;
  align-items: center;
  width: auto;
  /* margin-top: 3rem; */
  margin-bottom: 0rem;
  transform: translateX(50%);
}
#connect-mm-container h1 {
  font-size: 1.8rem;
  color: #F0F1F5;
  margin-bottom: 0rem;
  text-align: center;
}
#connect-mm-container img {
  height: 4.5rem;
  cursor: pointer;
  margin-top: 2rem;
  width: 210px;
  justify-self: center;
  background-image: url(/metamask-fox.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: background-image ease-in-out 300ms;
}

#connect-wallet {
  display: none;
  cursor: pointer;
  
  grid-row: 2;
  grid-column: 1;
  align-self: end;
  justify-self: center;
}

#step3-container {
  display: none;
  grid-template-columns: 50% 50%;
  row-gap: 20px;
  align-self: center;
  justify-self: center;
  height: 200px;
  width: 485px;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
#your-scrt-address {
  grid-column: 1 / span 2;
  grid-row: 1;
  text-align: left;
  color: #F0F1F5;
  font-weight: 600;
  font-size: 2rem;
}
#address-field {
  grid-column: 1 / 3;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  width: 100%;
  font-size: 12px;
}
#airdrop-box {
  grid-row: 3;
  grid-column: 1;
  align-self: center;
  justify-self: left;
  width: 210px;
  font-size: 10px;
  cursor: pointer;
}
#claim-button {
  grid-row: 3;
  grid-column: 2;
  align-self: center;
  justify-self: right;
  cursor: pointer;
  height: 50px;
  width: 210px;
}

.modal-box {
  background: #121E34;
  box-shadow: inset -4px -4px 4px rgba(58, 68, 93, 0.5), inset 4px 4px 4px #060C18;
  border-radius: 8px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins, Montserrat, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.75px;
}

.modal-btn {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  color: #F0F1F5;
  background: #121E34;
  box-shadow: -4px -4px 4px rgba(58, 68, 93, 0.5), 4px 4px 4px #060C18;
  border-radius: 8px;
  height: 50px;
  width: 210px;

  font-style: normal;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: 900;
  line-height: 20px;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: box-shadow ease-in-out 300ms;
}

#success-container {
  display: none;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-self: center;
  justify-items: center;

  text-align: center;
  color: #F0F1F5;

  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.modal-btn-pressed {
  box-shadow: inset -4px -4px 4px rgba(58, 68, 93, 0.5), inset 4px 4px 4px #060C18;
}

/* The Close Button */
#close {
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.54);
  float: right;
  margin: 1% 1%;
  font-size: 3.25rem;
  font-weight: 800;
  z-index: 2;
}
#close:hover,
#close:focus {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  cursor: pointer;
} 

/* The Help Button */
#help {
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.54);
  float: right;
  margin: 1% 1%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: #121E34;
  background-color: rgba(255, 255, 255, 0.54);
  z-index: 2;
}
#help:hover {
  background-color: #60BFCF;
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
} 

/* Tooltip text */
#help #helptext {
  position: relative;
  width: 212px;
  height: 100px;
  
  top: 10px;
  right: 190px;
  z-index: 2;
}

.tg-icon {
  position: absolute;
  top: -26px;
  left: 95px;
  height: 20px;
  width: 20px;
  border: 1px solid #121E34;
  border-radius: 50%;
}

#notice {
  grid-row: 3;
  align-self: end;
  justify-self: center;
  color: rgba(255, 255, 255, 0.54);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}

#mid-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#eligibility-header h1 {
  text-align: center;
  color: #121E34;
}
#eligibility-section {
  display: flex;
  align-items: top;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 35px;
}
#eligibility-section h2 {
  color: #121E34;
}
#eligibility-section p {
  color: #1E3256;
}

.section {
  padding: 1rem 0rem;
  width: 340px;
}

#node-digest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1266px;

  background-image: url(/calculator-background.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
#node-digest-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: center;
  align-self: center;
  align-items: flex-start;
  width: 595px;
  height: 294px;
  margin-top: 285px;
}
#node-digest h1 {
  color: #FEFFFF;
  margin-block-start: 0px;
  margin-block-end: 1em;
}
.node-digest-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 88px;
}
.node-digest-key {
  width: 160px;
  height: 20px;
  color: rgba(255, 255, 255, 0.54);
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.node-digest-value {
  text-align:center;
  color: #FEFFFF;
  font-weight: 600;
  font-size: 18px;
}
#node-digest h2 {
  display: inline-block;
  margin: auto;
  color: #FEFFFF;
  line-height: 3rem;
}

.yellow {
  color: #FFBF00;
}

#support-us-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#support-us-section h1 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 56px;
  color: #121E34;
}
#support-us-section h2 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;  
  text-align: left;
}

#where-to-stake-container {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  max-width: 1153px;
}

.stake-card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 114px;
  width: fit-content;
  background: linear-gradient(315deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%), #F0F1F5;
  background-blend-mode: soft-light, normal;
  box-shadow: -2.66667px -2.66667px 8px #FFFFFF, 4px 4px 8px rgba(174, 174, 192, 0.4), inset 0px 0px 0px 0.533333px rgba(255, 255, 255, 0.2);
  border-radius: 12px;
}
.stake-card .lebel {
  position: absolute;
}
.stake-card .lebel img {
  transform: translateX(-20px) translateY(-27px);
}
.stake-card .text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #20365E;
  padding: 20px;
  padding-left: 30px;
}
.stake-card .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background-color: #D3D3D3;
  -webkit-mask-size: cover;
  mask-size: cover;
}
.stake-card .icon:last-child {
  margin-right: 30px;
}
.stake-card .icon:hover {
  background-color: #60BFCF;
}

.icon-web {
  -webkit-mask: url(/Web.svg) no-repeat;
  mask: url(/Web.svg) no-repeat;
  width: 28px;
  height: 28px;
}
.icon-chrome {
  -webkit-mask: url(/Chrome.svg) no-repeat;
  mask: url(/Chrome.svg) no-repeat;
  width: 30px;
  height: 30px;
}
.icon-ledger {
  -webkit-mask: url(/Ledger.svg) no-repeat;
  mask: url(/Ledger.svg) no-repeat;
  width: 25px;
  height: 25px;
}
.icon-apple {
  -webkit-mask: url(/Apple.svg) no-repeat;
  mask: url(/Apple.svg) no-repeat;
  width: 27px;
  height: 31px;
}
.icon-android {
  -webkit-mask: url(/Android.svg) no-repeat;
  mask: url(/Android.svg) no-repeat;
  width: 28px;
  height: 34px;
}
.invisible-link {
  visibility: hidden;
  width: 30px;
  height: 30px;
}

#follow-container {
  display: grid;
  margin-bottom: -150px;
}
#follow {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  justify-self: center;
  height: 408px;
  width: 600px;

  background-image: url('/follow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translateX(473px);
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-mask-size: cover;
  mask-size: cover;
}
.icon:hover {
  background-color: #60BFCF
}
.icon-telegram {
  width: 35px;
  height: 35px;
  -webkit-mask: url('/Telegram icon hover.svg') no-repeat;
  mask: url('/Telegram icon hover.svg') no-repeat;
}
.icon-twitter {
  width: 35px;
  height: 35px;
  -webkit-mask: url('/Twitter icon hover.svg') no-repeat;
  mask: url('/Twitter icon hover.svg') no-repeat;
}
.icon-github {
  width: 35px;
  height: 35px;
  -webkit-mask: url('/GitHub icon hover.svg') no-repeat;
  mask: url('/GitHub icon hover.svg') no-repeat;
}
.sm-icon-container {
  display: flex;
  flex-flow: row nowrap;
  width: fit-content;
}
#follow-links {
  position: relative;
  top: 201.5px;
  left: 133.25px;
}

#sticker {
  position: relative;
  justify-self: center;
  height: 477px;
  margin: 0rem -0rem 0rem 0rem;

  background-image: url(/sticker.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translateX(570px);
}

#footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 455px;
  margin-top: -235px;
  background-image: url('/Footer background.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
#footer-content {
  display: flex;
  color: rgba(255, 255, 255, 0.54);
  width: 1225px;
  justify-content: space-between;
  position: relative;
  bottom: 100px;
}
#footer-content p {
  display: flex;
  align-items: flex-end;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
#footer-links {
  align-items: center;
}
#footer-links .icon {
  background-color: rgba(255, 255, 255, 0.54);
  width: 25px;
  height: 25px;
  margin: 15px;
  -webkit-mask-size: contain;
  mask-size: contain;
}
#footer-links .icon:hover {
  background-color: #60BFCF
}

body {
  overflow: clip scroll;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 0;
}
h1 {
  font-weight: 800;
  font-size: 46px;
}

/* .pulse {
  border-radius: 8px;
  background: #121E34;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(58, 68, 93, 0.5);
  animation: pulse 2s infinite;
}

.pulse:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: -4px -4px 4px rgba(58, 68, 93, 0.5), 4px 4px 4px rgb(6, 12, 24);
  }
  70% {
    -webkit-box-shadow: -4px -4px 2px rgba(58, 68, 93, 0.3), 4px 4px 2px rgb(6, 12, 24, 0.7);
  }
  100% {
    -webkit-box-shadow: -4px -4px 4px rgba(58, 68, 93, 0.5), 4px 4px 4px rgb(6, 12, 24);
  }
}

.animated:hover {
  opacity: 1;
  transition: opacity 500ms ease 0s, transform 400ms ease 0s;
  transform: translateX(-4px) translateY(-4px);
} */

@media (max-width: 1024px) {
  body {
    width: initial;
    margin: initial;
  }
  #header-container {
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 700px;
    padding: 1rem;
  }
  #logo-container {
    margin: 0;
    padding: 0;
    justify-content: center;
    transform: translateY(-25%);
  }
  #logo-container #logo-image img{
    margin: 0;
    justify-self: center;
    justify-items: center;
    width: auto;
    height: auto;
    width: 90vw;
  }
  #logo-container #logo-text img{
    padding-top: 0px;
    margin: 0;
    justify-self: center;
    justify-items: center;
    width: auto;
    height: auto;
    width: 90vw;
  }
  #illustration {
    display: none;
  }
  #about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    padding: 0 20px;
    line-height: 30px;
  }

  #claim-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 50px 0px;
    max-width: 100vw;
  }
  #claim-container img {
    display: flex;
    justify-self: center;
    margin-top: 0;
    width: auto;
    max-width: 100vw;
  }
  #start-button {
    width: none;
    padding: 0 25px;
    justify-self: center;
    align-self: center;
  }
  .modal {
    overflow: hidden;
  }
  .modal-content-container {
    grid-template-rows: 150px auto 125px;
    transform: translateY(-35px);
  }
  #modal-content {
    position: fixed;
    left: 50vw;
    transform: translateX(-50%) translateY(10%);
    width: 80vw;
    height: 80vh;
    background-size: cover;
    justify-self: center;
    align-self: center;
  }
  .status-container {
    grid-row: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 20px;
    justify-content: center;
    align-self: start;
    min-width: 260px;
    max-width: 310px;
  }
  #status-bubble-1 {
    margin-bottom: 30px;
  }
  #status-line-4 {
    visibility: hidden;
  }
  #connect-container {
    margin-top: 20px;
  }
  #connect-container img {
    margin-top: 10px;
    background-image: none;
    height: 50px;
    width: auto;
    /* background-image: url(fina-logo.png); */
  }
  #connect-keplr {
    display: none;
  }
  #connect-message {
    display: none;
  }
  #connect-fina-message {
    display: inline;
  }
  #connect-fina {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  
    display: flex;
    margin-top: 20px;
    height: 50px;
    width: 210px;
    background-image: url(/fina-logo.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;

    box-shadow: -4px -4px 4px rgba(58, 68, 93, 0.5), 4px 4px 4px #060C18, inset -4px -4px 4px rgba(58, 68, 93, 0.5), inset 4px 4px 4px #060C18;
    border-radius: 8px;
  }
  #step3-container {
    display: none;
    grid-template-columns: auto;
    row-gap: 20px;
    align-self: center;
    justify-self: center;
    height: auto;
    width: auto;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  #your-scrt-address {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    color: #F0F1F5;
    font-weight: 600;
    font-size: 1.75rem;
  }
  #address-field {
    grid-column: 1;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    padding: 0 20px;
    width: 80%;
    font-size: 12px;
    overflow-wrap: anywhere;
  }
  #airdrop-box {
    grid-column: 1;
    grid-row: 3;
    align-self: center;
    justify-self: center;
    width: 210px;
    font-size: 10px;
    cursor: pointer;
  }
  #claim-button {
    grid-column: 1;
    grid-row: 4;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    height: 50px;
    width: 210px;
  }
  #eligibility-section {
    gap: 0;
  }
  #eligibility-header h1 {
    text-align: left;
    margin: 0 25px;
    line-height: 2.75rem;
  }
  #node-digest {
    background-size: cover;
    justify-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
    margin: -0px -0px;
    height: 900px;
  }
  #node-digest-container {
    width: auto;
    height: auto;
    margin: 180px 20px 20px 20px;
    justify-self: center;
    align-self: center;
  }
  #node-digest h1{
    text-align: left;
    line-height: 2.75rem;
  }
  .node-digest-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  #node-digest img {
    width: 90vw;
    transform: translateY(0px);
  }
  #where-to-stake{
    display: flex;
    margin: 0 0;
  }
  #follow {
    height: auto;
    width: auto;
    background-size: contain;
    transform: none;
  }
  #sticker {
    position: relative;
    display: none;
    float: right;
    transform: none;
  }
  #footer {
    margin-top: 200px;
    background-size: cover;
    background-position: bottom;
    margin: 0 0;
  }
}